<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!--<handlers>
            <remove name="FastCGI" />
            <add name="FastCGI" path=".php" verb="*" modules="CgiModule" scriptProcessor="C:\php-5.2.10\php-cgi.exe" resourceType="File" />
        </handlers>-->
	 <security>
    <authorization>
      <remove users="*" roles="" verbs="" />
      <add accessType="Deny" users="?" />
      <add accessType="Deny" users="IUSR" />
      <add accessType="Allow" users="*" />
    </authorization>
  </security>
    </system.webServer>
</configuration>
